.DS_Store
.env
.env.local
.env.*.local
/__pycache__
__pycache__/
*.pyc
/library
/sample_library
/static/cache
/static
/models/faster-whisper/Systran__faster-whisper-large-v3
/AiWord/dist
/AiWord/node_modules
/frontend/dist
/frontend/node_modules
logs/
catalogue.db
catalogue.db-journal
catalogue.db
catalogue.db-journal
*.db
catalogue.db
*.db
*.db
agregator-amd64.tar
/models/faster-whisper
*.bin
models/faster-whisper/Systran__faster-whisper-small/model.bin
models/faster-whisper/Systran__faster-whisper-small/model.bin
instance/
