.DS_Store
/__pycache__
/library
/sample_library
/static/cache
/static
/models/faster-whisper/Systran__faster-whisper-large-v3
/AiWord/dist
/AiWord/node_modules
/frontend/dist
/frontend/node_modules
logs/
